html {
  font-family: sans-serif;
  background: #faf8f6;
}

body {
    background: #faf8f6;
}

.content{
    padding-top: 55px;
    position: relative;
}

h1, h2 {
    font-family: "Urbanist",sans-serif;
    color: #504c50;
    margin: 1rem 0;
    text-align: center;
    vertical-align: middle;
}

h3, h4, h5, h6, p {
  font-family: "Inter",sans-serif;
  color: #504c50;
  margin: 1rem 0;
  text-align: center;
  vertical-align: middle;
}

.navbar{
    padding-left: 10px;
    height:50px;
    background: #faf8f6;
}

.navbar-nav{
    padding-left: 180px;
}

.nav-link{
    font-family: "Urbanist",sans-serif;
    font-weight: bolder;
    color: #504c50;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-collapse{
    height: 30px;
    padding-top: 18px;
    background: #faf8f6;
}

.navbar-toggler-icon {
   position: absolute;
  background-image: url("menu_dark.png");
  height: 50px;
  width: 50px;
  top: 6px;
  right: 10px;
}

#logo-header {
    position: absolute;
    height: 50px;
    width: 150px;
    top: 5px;
}

.link-column {
    margin: 10px;
    text-align: center;
}

#logo-link-header {
    width: 100%;
}

 a:link {
      text-decoration: none;
      color: #504c50;
}

a:visited {
      text-decoration: none;
      color: #504c50;
}

a:hover {
      text-decoration: none;
      color: #635e63;
}
