html {
  font-family: sans-serif;
  background: #faf8f6;
}

body {
    background: #faf8f6;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Urbanist",sans-serif;
  color: #504c50;
  margin: 1rem 0;
  text-align: center;
  vertical-align: middle;
}

.navbar{
    a {
        padding-left: 10px;
        font-family: "Urbanist",sans-serif;
        color: #504c50;
        height:30px;
    }
}

.navbar-collapse{
    height: 30px;
}

.navbar-toggler-icon {
   position: absolute;
  background-image: url("menu_dark.png");
  height: 35px;
  width: 35px;
  top: 10px;
  right: 10px;
}
