{% extends 'base.html' %}

{% block title %} Account {% endblock %}

{% block content %}

<div class="link-column">
    <div class="not-logged-in" style="visibility:{{ no_user }};">
        <a class="user-link" href="{{url_for('home')}}">SIGN UP</a>
        <br>
        <a class="user-link" href="{{url_for('login')}}">LOG IN</a>
    </div>

    <div class="logged-in" style="visibility:{{ yes_user }};">
        <a class="user-link" href="{{url_for('home')}}">SIGN UP</a>
        <br>
        <a class="user-link" href="{{url_for('home')}}">LOG IN</a>
    </div>

</div>

{% endblock %}
