{% extends 'base.html' %}


{% block title %} {{ food }} Stats {% endblock %}

{% block user %}
<a class="user-icon" href="{{url_for('account')}}"><img src="{{ pfp }}" /></a>
{% endblock %}

{% block content %}
<div class="container-bg container-side">
    <h1>Result</h1>
    <p>Food: {{ food }}</p>
    <p>Servings: {{ servings }}</p>
    <p>Emissions: {{ emissions }} kg CO2e</p>
    <a href="{{url_for('footprint_find')}}">
            <button type="button" class="custom-btn">Search Again</button>
        </a>
</div>
{% endblock %}