{% extends 'base.html' %}

{% block title %} Food Search {% endblock %}

{% block user %}
<a class="user-icon" href="{{url_for('account')}}"><img src="{{ pfp }}" /></a>
{% endblock %}

{% block content %}

<h1>Search for a Product or Food</h1>
<div class="lead">
    <div class="error-msg" style="visibility:{{ error }};">
        Oh no! We couldn't find a food item called "{{ item }}"
    </div>
    <form action="/search" method="post">
        <label>
            <input type="text" name="product_name" placeholder="Enter product name">
        </label>
        <button type="submit">Search</button>
    </form>
    </div>

{% endblock %}