<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terreform – Navigation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="link-column">
        <img src="{{ url_for('static', filename='logo_greens.png') }}" alt="Terreform" id="logo-link-header">
        <a class="links-link" href="{{url_for('home')}}">HOME</a>
        <a class="links-link" href="{{url_for('home')}}">HOME AGAIN</a>
    </div>

</body>
</html>