{% extends 'base.html' %}

{% block title %} Account {% endblock %}

{% block user %}
<a class="user-icon" href="{{url_for('account')}}"><img src="{{ pfp }}" /></a>
{% endblock %}

{% block content %}
<div class=big-column"">
<div class="container-bg container-wide">
    <h2>Enter your email to log in to Terreform:</h2>
<form action="/loggedin" method="POST">
    <div class="input">
        <div class="input-group mb-3">
            <input type="text" name="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="button-addon2">
            <br>
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">LOG IN</button>
        </div>

    </div>
</form>
<div class="error-msg" style="visibility:{{ error }};">
    We couldn't find an account associated with that email address.
    <br>
</div>
<div class="link-column">
    <a class="sign-up" href="https://59223397842.propelauthtest.com/en/signup">Don't have an account? Sign Up!</a>
</div>

</div>

</div>

{% endblock %}
